html {
    box-sizing: border-box;
}

* {
    
}

body {
    background-color: #f4f4f4;
}

 .template {
    display: grid;
    grid-template-columns:;
    justify-content: center;
    /* align-items: center; */
    grid-gap: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    /* margin: 0 auto;
    padding:  */
}

.template-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.exercise-row-grid   {
    display: grid;
    grid-template-columns: 7% 21% 7% 7% 7% 7% 7% 14%;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.exercise-row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.exercise-variable {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    border: 1px solid #ccc;
    /* width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

table td, table th {
    border: 1px solid black;
}

/* .template-head {
    display: grid;
    grid-template-columns: 7% 21% 7% 7% 7% 7% 7% 14%;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    
} */

.col-pairing {
    width: 7%;
}

.col-exercise {
    width: 20%;
}

.variable-input {
    
}